sudo: true
language: cpp
compiler: gcc

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo pip install codecov # From https://github.com/travis-ci/travis-ci/issues/1705
  - sudo apt-get update -qq

install: 
  - sudo apt-get install -qq g++-5
  - ./install_oclint.sh

addons:
  apt:
    sources:
    - boost-latest
    - ubuntu-toolchain-r-test
    packages:
    - gcc-5
    - g++-5
    - libboost1.55-all-dev

script: 
  - ./build_console.sh
  - ./build_desktop.sh
  - ./do_oclint.sh
  - ./get_code_cov.sh
  - codecov

after_success:
  - bash <(curl -s https://codecov.io/bash)
